:root{
    --color: #F8F8FF;
    --underline-width: 2px;
    --underline-block-width: 20px;
    --underline-color: hsla(180, 100%, 50%, 0.5);
    --underline-color-hover: #00F1FF;
    --underline-transition: 0.5s;
    --bg: #2a475e;
    --grad: #171a21;
}

body{
    background: linear-gradient(180deg, var(--bg), var(--grad));
    color: var(--color);
}

.modal-content{
    background: var(--bg);
}

nav{
    background: linear-gradient(135deg, #171a21, transparent, transparent);
}

form .form-control{
    background-color: lightgray;
}

a {
    color: var(--color);
    text-decoration: none;
    background-image: linear-gradient(90deg, var(--bg), var(--bg)),
    linear-gradient(90deg, var(--underline-color), var(--underline-color));
    background-size: var(--underline-block-width) var(--underline-width),
    100% var(--underline-width);
    background-repeat: no-repeat;
    background-position-x: calc(var(--underline-block-width) * -1), 0;
    background-position-y: 100%;
    transition: background-position-x var(--underline-transition);
}

a:hover {
    background-image: linear-gradient(90deg, var(--bg), var(--bg)),
    linear-gradient(
            90deg,
            var(--underline-color-hover),
            var(--underline-color-hover)
    );
    background-position-x: calc(100% + var(--underline-block-width)), 0;
}

.carousel-control-prev{
    background-image: none;
}

.carousel-control-prev:hover{
    background-image: none;
}

.carousel-control-next{
    background-image: none;
}

.carousel-control-next:hover{
    background-image: none;
}

.table{
    color: var(--color);
}

.ui-autocomplete {
    z-index:2147483647;
}

.badge{
    cursor: pointer;
}

hr{
    background-color: lightgray;
}

#carouselExampleControls{
    background-color: var(--dark);
    -moz-box-shadow:    inset 0 0 15px #222;
    -webkit-box-shadow: inset 0 0 15px #222;
    box-shadow:         inset 0 0 15px #222;
}

.btn-outline-primary{
    color: var(--underline-color-hover);
    border-color: var(--underline-color-hover);
}

.btn-outline-primary:hover{
    color: var(--bg);
    background-color: var(--underline-color-hover);
    box-shadow: 0 0 0 0.2rem rgba(0,241,255,.5);
}

.btn-outline-warning{
    color: #FFC145;
    border-color: #FFC145;
}

.btn-outline-warning:hover{
    color: var(--bg);
    background-color: #FFC145;
    box-shadow: 0 0 0 0.2rem rgba(255, 193, 69, 0.5) !important;
}

.btn-outline-warning:active{
    color: var(--bg);
    background-color: #FFC145;
    box-shadow: 0 0 0 0.2rem rgba(255, 193, 69, 0.5) !important;
}

.btn-outline-primary:active{
    color: var(--bg) !important;
    background-color: var(--underline-color-hover) !important;
}

.btn-outline-info{
    color: #858AE3;
    border-color: #858AE3;
}

.btn-outline-info:hover{
    color: var(--color);
    background-color: #858AE3 !important;
    box-shadow: 0 0 0 0.2rem rgba(133, 138, 227, 0.5) !important;
    border-color: #858AE3;
}

.btn-outline-info:active{
    color: var(--color) !important;
    background-color: #858AE3 !important;
    box-shadow: 0 0 0 0.2rem rgba(133, 138, 227, 0.5)  !important;
    border-color: #858AE3;
}

.btn-outline-danger{
    color: #CC5A71;
    border-color: #CC5A71;
}

.btn-outline-danger:hover{
    color: var(--color);
    background-color: #CC5A71 !important;
    border-color: #CC5A71;
    box-shadow: 0 0 0 0.2rem rgba(204, 90, 113, 0.5) !important;
}

.btn-outline-danger:active{
    color: var(--color);
    background-color: #CC5A71 !important;
    border-color: #CC5A71;
    box-shadow: 0 0 0 0.2rem rgba(204, 90, 113, 0.5) !important;
}

.badge-info{
    background-color: var(--underline-color-hover);
    color: var(--bg);
}

.carousel-item{
    background-image: none;
}

.carousel-item:hover{
    background-image: none;
}

.badge-info:hover{
    box-shadow: 0 0 0 0.2rem rgba(0, 255, 255, 0.5) !important;
}